* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    height: 70px;
    width: 100%;
    background-color:  #d35649;
    display: flex;
    
}
.navbar{
    display: flex;
    text-align: center;
}
    .premier{
        display: flex;
    }
    
    .troisieme{
        display: flex;
        font-size: small;
    }
    .marque{
        font-size: 22px;
    }
    
.part1{
    background-image: url(../evaluation/Assets/Images/group-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    opacity: 1;
}
    .part1 h1{
        font-size: 20px;
        color: #eee;
        padding-top: 80px;
        text-align: center;
        opacity: 7;
    }
    .connexion{
        width: auto;
        height: 110px;
        display: flex;
        
    }
    
        .search{
            background-color: rgba(238, 238, 238, 0.829);
            opacity: 1;
            
        }
            .search h5{
                text-align: center;
                font-size: 14px;
                padding-top: 20px;
            }
            .interieur{
                display: flex;
                
                
            }
            .button1{
                width: 30%;
                height: 35px;
                text-align: center;
                padding-right: 40px;
            }
            
                .bouton1{
                    background-color:#eee ;
                    color: #98a5a5;
                    text-align:left;
                    position: center;
                    width: 430px;
                    height: 30px;
                    border: none;
                    margin: 0 auto;
                    border: #98a5a5 solid 1px;
                    font-size: small;
                    
                    
                 }
                 .button{
                    width: 15%;
                    height: 40px;
                   
                    text-align: center;
                    padding-right: 40px;
                }
                    .bouton2{
                        background-color: #d35649;
                        color: #eee;
                        font-size: small;
                        text-align: center;
                        position: center;
                        width: 70px;
                        height: 30px;
                        border: none;
                        margin: 0 auto;
                        
                     }
            .how{
                text-align: center;
               margin-left: 90px;
                
            }
            .button{
                width: 15%;
                height: 40px;
               
                text-align: center;
                padding-right: 40px;
            }
                .bouton3{
                    background-color: rgba(238, 238, 238, 0.829) ;
                    color: rgb(7, 7, 7);
                    font-size: small;
                    text-align: center;
                    position: center;
                    width: 100px;
                    height: 30px;
                    border: none;
                    margin: 0 auto;
                    font-weight: 700;
                    
                 }

.part2{
    width: 100%;
    height: 450px;
    background-color:#FFFFFF;
    
}
.part2 h3{
    color: #d35649;
    text-align: center;
    margin-top: 40px;
}
    .division1{
        width: 50%;
        height: auto;
        float: left;

    }
        .sousdivision1{
            width: 100%;
            height: 150px;

        }
            .sousdivision1 img{
                margin-top: 30px;
                text-align: center;
                align-items: center;
                margin-left: 180px;
            }
            .sousdivision1 h5{
                text-align: center;
                margin-top: 15px;
                font-weight: 700;
            }
            .sousdivision1 p{
                width: 100%;
                padding-left: 40px;
                text-align: center;
                font-size: small;
            }
    .division2{
        width: 50%;
        height: auto;
        float: left;
    }
    .sousdivision2{
        width: 100%;
        height: 150px;

    }
        .sousdivision2 img{
            margin-top: 60px;
            text-align: center;
            align-items: center;
            margin-left: 180px;
        }
        .sousdivision2 h5{
            text-align: center;
            margin-top: 15px;
            font-weight: 700;
        }
        .sousdivision2 p{
            width: 100%;
            text-align: center;
            font-size: small;
            padding-left: 40px;
        }  
.part3{
    background-color:#d35649;
    width: 100%;
    height: 250px;
}
    .composition1{
        width: 100%;
        height: auto;
        padding-left: 60px !important;
    }
        .composition1 h4{
            color:#FFFFFF ;
            margin-top: 50px;
            
        }
        .composition1 p{
            color:#FFFFFF ;
            margin-top: 20px;
           
            font-size: small;
            width: 100%;
        }
        .button{
            width: 15%;
            height: 40px;
           
            text-align: center;
            padding-right: 40px;
        }
            .bouton4{
                background-color: #FFFFFF;
                color: #d35649;
                font-size: small;
                text-align: center;
                position: center;
                width: 130px;
                height: 40px;
                border: none;
                margin: 0 auto;
                
             }
    .composition2{
        width: 20%;
        height: 200px;
        text-align: center;
    }
    .figure{
        width: 10%;
        height: 10px;
        
    }
        .photos{
            border-radius: 50%;
            
            width: 50%;
            height: 200px;
            text-align: center;
            margin: 30px;
            margin-left: 170px;
        }
 .part4{
    background-color:#98a5a5;
    width: 100%;
    height: 250px;
 }
            .content1{
                width: 100%;
                height: auto;
                padding-left: 60px !important;
            }
                .content1 h4{
                    color:#FFFFFF ;
                    margin-top: 50px;
                    
                }
                .content1 p{
                    color:#FFFFFF ;
                    margin-top: 20px;
                   
                    font-size: small;
                    width: 100%;
                }
                .button{
                    width: 30%;
                    height: 40px;
                    text-align: center;
                    padding-right: 40px;
                }
                    .bouton5{
                        background-color: #FFFFFF;
                        color: #98a5a5;
                        text-align: center;
                        position: center;
                        width: 200px;
                        height: 40px;
                        border: none;
                        margin: 0 auto;
                        font-size: small;
                        
                     }
            .content2{
                width: 20%;
                height: 200px;
                text-align: center;
            }
.part5{
     background-color: #509bd7;
     width: 100%;
    height: 250px;
             }
.partfinal{
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
}
    .footer1{
        width: 100%;
        height: 270px;
        background-color: #000000;
    }
        .subdivision1{
            width:100% ;
            height: 100px;
           
            display: flex;
            text-align: center;
            
        }
        .continuation{
            padding-top: 20px;
            display: flex;
            text-align: center;
            padding-left: 50px;
            font-size: small;
            position: relative;
            height: 40px;

        }
        .signe1{
            border-top: #eee solid 2px;
            border-bottom: #eee solid 2px; 
        }
        .signe3{
            border-top: #eee solid 2px;
            border-bottom: #eee solid 2px;
        }
        .signe2{
            border-radius: 50%;
            border: solid 1px #eee;
            position: absolute;
            top: 50%;
            left: 48%;
            transform: translate(-55%, -30%);
            background-color: black;
        }
        .subdivision2{
            width:100% ;
            height: 120px;
            float: left;
            padding-top: 30px;
            font-size: small;
        }
            .subdivision2 h4{
                color:#eee ;
                text-align: center;
            }
            .subdivision2 p{
                color:#eee ;
                text-align: center;
                font-size: small;
            }
            .boutton{
                display: flex;
                padding-left: 70px;
            }
            .button1{
                width: 30%;
                height: 40px;
                text-align: center;
                padding-right: 40px;
            }
            
                .bouton6{
                    background-color:#000000 ;
                    color: #98a5a5;
                    text-align: center;
                    position: center;
                    width: 200px;
                    height: 30px;
                    border: none;
                    margin: 0 auto;
                    border: #98a5a5 solid 1px;
                    margin-top: 4px;
                    
                 }

            .contact p{
                width: 50%;
                text-align: center;
                margin-left: 90px;
            }
            .contact p span{
                width: 50%;
                text-align: center;
                color: #d35649 ;
                margin-top: 40px !important;
            }
            .about{
                margin-left: 30px;
            }
            .about p{
                width: 100%;
                margin-right: 40px;
                height: 60px;
            }
            .about p span{
                width: 100%;
                color: #d35649 ;
            }
            
    .footer2{
        width: 100%;
        
        background-color: #444;
    }
        .partie1{
            width: 50%;
            display: flex;
            color: #eee;
        }
        .partie2{
            width: 50%;
            text-align: right;
        }
        .partie2 p{
            font-size: small;
        }
    